@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700);

body {
  margin: 0;
  padding: 0;
  background: #4946eb;
  font-family: ubuntu;
}

header {
  display: flex;
  align-items: center;
  background: #e7e7ff;
}

header img {
  width: 50px;
  background: whitesmoke;
  border-radius: 5px;
  margin: 0 20px 0 40px;
}

article {
  background: whitesmoke;
  border: 3px solid #a0a0a0;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
}

hr,
article .date {
  color: #a0a0a0;
  border-radius: 8px;
  background-color: blue;
  color: white;
  border-color: whitesmoke ;
  width: 100%;
  }
  input[type="text"]
  {
  border-radius: 8px;
  text-align: center;
  background-color:black;
  color: white;
  border-color: white;
  width:100%
  }
